.hero {
  width: 75%;
  margin: auto;
}
.credit-section {
  width: 45%;
}
.debet-section {
  width: 45%;
}
.hero-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.debet-title {
  color: green;
}
.credit-title {
  color: red;
}
.coments {
  width: 55%;
}
.information-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.debet-information {
  display: flex;
  justify-content: space-between;
}
.credit-information {
  display: flex;
  justify-content: space-between;
}

#two {
  display: none;
  justify-content: space-between;
}
#three {
  display: none;
  justify-content: space-between;
}
#four {
  display: none;
  justify-content: space-between;
}
#five {
  display: none;
  justify-content: space-between;
}
#six {
  display: none;
  justify-content: space-between;
}
#seven {
  display: none;
  justify-content: space-between;
}
/*---------------------------------------*/

#two-credit,
#three-credit,
#four-credit,
#five-credit,
#six-credit,
#seven-credit,
#eight-credit {
  display: none;
  justify-content: space-between;
}

#result-content {
  display: block;
}
