.result {
  padding-top: 40px;
  width: 75%;
  margin: auto;
}
#result-content {
  width: 100%;
  display: none;
  flex-wrap: wrap;
}
h2,
p {
  text-align: center;
}
.debet-result {
  width: 50%;
}
.credit-result {
  width: 50%;
}
.balance {
  width: 100%;
}

.button-container {
  width: 80px;
  margin: auto;
}
